#Footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--hf-bg-colour);
}

#Footer__inner {
  max-width: var(--global-max-width);
  min-height: 9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#Footer__email > a {
  color: var(--hf-link-colour);
  text-decoration: none;
}
#Footer__email > a:hover {
  color: var(--hf-link-hover-colour);
  text-decoration: underline;
}

#Footer__sm-icons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.sm-icon {
  width: 1.8rem;
  aspect-ratio: 1;
  filter: var(--hf-icon-colour);
}
.sm-icon:hover {
  filter: var(--hf-icon-hover-colour);
}

@media (max-width: 768px) {
  #Footer__inner {
    flex-direction: column-reverse;
    gap: 3rem;
    padding: 3rem 0;
  }

  #Footer__email > a {
    font-size: 0.9rem;
  }
}
