#Header {
  position: sticky;
  top: -2rem; /* difference between inner and outer */
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--hf-bg-colour);

  z-index: 9;
}

#Header__inner {
  position: sticky;
  top: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  padding: 0 1rem;
  background-color: var(--hf-bg-colour);
}

#Header__mobile-nav-btn {
  display: none;
  margin-left: auto;
  margin-right: 0.5rem;
  background-color: transparent;
  border: none;
  z-index: 99;
}
#Header__mobile-nav-btn > img {
  width: 1.6rem;
  filter: var(--hf-icon-colour);
  cursor: pointer;
}

#Header__mobile-nav {
  display: none; /* flex */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(var(--mobile-nav-bg-colour), 0.95);
  backdrop-filter: blur(5px);
  transition: left 0.3s;
  z-index: 98;
}
#Header__mobile-nav > a {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.7rem;
  color: var(--mobile-nav-link-colour);
  text-align: center;
  text-decoration: none;
}

#Header__desktop-nav {
  display: flex;
  margin-left: auto;
  margin-right: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}
#Header__desktop-nav > a {
  height: 100%;
  display: block;
  color: var(--hf-link-colour);
  padding: 1rem;
  text-decoration: none;
}
#Header__desktop-nav > a:hover {
  color: var(--hf-link-hover-colour);
}

@media (max-width: 768px) {
  #Header__desktop-nav {
    display: none;
  }

  /* show mobile nav button and menu */
  /* (use 'visibility:hidden' to toggle menu on/off) */
  #Header__mobile-nav-btn {
    display: block;
  }

  #Header__mobile-nav {
    display: flex;
  }
}
