:root {
  --code-font: Monospace, Courier New;
}

#Project {
  position: relative;
  min-height: calc(100vh - 5em);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(var(--primary-800));
}

#Project__inner {
  max-width: var(--global-max-width);
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: var(--prj-article-sidebar-gap);
  margin: 2rem 1rem;
}

#Project__inner > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 3rem;
  background-color: rgb(var(--primary-900));
  border: 1px solid rgb(var(--primary-500));
  border-radius: 0.5rem;
  box-shadow: var(--subtle-box-shadow);
}

#Project__title {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;

  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: rgb(var(--primary-700));
  text-shadow: var(--heading-shadow);
}

/* Details bar - date, languages, links */

#Project__details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#Project__details__date {
  font-size: 0.8rem;
  text-align: center;
}

#Project__details__languages {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}
#Project__details__languages svg {
  width: 1.5rem;
  aspect-ratio: 1;
}

#Project__details__links__wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.Project__details__link {
  padding: 0.5rem 1rem;
  text-align: center;
  white-space: nowrap;
  font-size: 0.9rem;
  color: rgb(var(--primary-900));
  text-decoration: none;
  background-color: var(--cta-bg-colour);
  border-radius: 0.5rem;
  box-shadow: var(--subtle-box-shadow);
}
.Project__details__link > img {
  height: 1em;
  aspect-ratio: 1;
  filter: var(--black-to-primary-900);
}
.Project__details__link:hover {
  background-color: var(--cta-hover-bg-colour);
}

/* End details bar */

#Project__media {
  width: 80%;
  max-width: var(--prj-article-media-max-width);
  height: fit-content;
}
#Project__media > * {
  /* yt video or image */
  width: 100%;
  border: none;
  box-shadow: var(--subtle-box-shadow);
}
#Project__media > img {
  object-fit: cover;
  aspect-ratio: 16/9;
}
#Project__media > iframe {
  aspect-ratio: 16/9;
}

/***************************/
/* Project body formatting */
/***************************/

#Project__body {
  margin: 1rem;
  font-family: Arial;
}
#Project__body > *:first-child {
  margin-top: 0 !important;
}

/* Subtitle */
#Project__body > h3 {
  margin-top: 4rem;

  font-size: 1.7rem;
  font-weight: bold;

  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: rgb(var(--primary-700));
}
#Project__body > h3::before {
  display: inline-block;
  content: '//';
  margin-right: 1rem;
  color: rgb(var(--primary-400));
}

/* Main text */
#Project__body p,
#Project__body ul,
#Project__body ol,
#Project__body div.quote {
  font-size: 1rem;
  line-height: 1.6rem;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
#Project__body ul > li,
#Project__body ol > li {
  margin-left: 1rem;
}
#Project__body ul > li:not(:first-child),
#Project__body ol > li:not(:first-child) {
  margin-top: 1.5rem;
}

/* Images */
#Project__body img {
  display: block;
  max-width: 70%;
  max-height: 70vh;
  margin: 3rem auto;
  border: 1px solid rgb(var(--primary-300));
  box-shadow: var(--subtle-box-shadow);
}

/* Code block */
#Project__body .code-block-wrapper {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 3rem auto;
  background-color: var(--prj-code-background-colour);
  box-shadow: var(--subtle-box-shadow);
}
#Project__body .code-block-wrapper > pre {
  overflow: auto;
  padding: 0.5rem;
  border: 1px solid rgb(var(--primary-500));
}

/* Links */
#Project__body a {
  color: var(--href-colour);
  text-decoration: none;
}
#Project__body a:hover {
  text-decoration: underline;
}

/* Note */
#Project__body p.note {
  color: rgb(var(--primary-300));
  font-size: 0.9rem;
  font-style: italic;
}

/* Quote */
#Project__body div.quote {
  padding: 0.5rem;
  font-style: italic;
  background: rgb(var(--primary-850));
  border-left: 10px solid rgb(var(--primary-700));
}
#Project__body div.quote::before {
  content: open-quote;
  color: rgb(var(--primary-700));
  font-size: 4rem;
  line-height: 0.1rem;
  vertical-align: -0.4em;
  margin-right: 1rem;
}

/* Caption */
#Project__body p.caption {
  font-style: italic;
  position: relative;
  top: -2.5rem;
  margin-bottom: -2.5rem;
  text-align: center;
  color: rgb(var(--primary-400));
  font-size: 0.8rem;
}

/* Highlights */
#Project__body .hl {
  padding: 0.2rem 0.3rem;
  border-radius: 0.5rem;
}
#Project__body .bold {
  font-weight: bold;
  background-color: var(--prj-bold-bg);
}
#Project__body .snippet {
  font-family: var(--code-font);
  font-size: 0.9rem;
  white-space: nowrap;
  background-color: var(--prj-snippet-bg);
}
#Project__body .language {
  background-color: var(--prj-language-bg);
}
#Project__body .function {
  font-family: var(--code-font);
  font-size: 0.9rem;
  background-color: var(--prj-function-bg);
}

/**************************/
/* End article formatting */
/**************************/

@media (max-width: 1440px) {
  #Project__inner > article {
    max-width: 850px;
  }
}

@media (max-width: 992px) {
  #Project__inner {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

@media (max-width: 768px) {
  #Project__media {
    width: 100%;
  }

  #Project__body img {
    width: 100%;
  }
}

@media (max-width: 576px) {
  #Project__inner {
    margin: 0;
  }
  #Project__inner > article {
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    border-radius: 0;
  }

  #Project__body p,
  #Project__body ul,
  #Project__body ol {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 425px) {
  #Project__inner > article {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #Project__body {
    margin: 0.5rem;
  }
  #Project__body p,
  #Project__body ul,
  #Project__body ol {
    font-size: 0.9rem;
  }
  #Project__body pre {
    font-size: 0.6rem;
  }
}
