#Splash {
  background: radial-gradient(rgb(var(--primary-900)), rgb(var(--primary-800)));
}

#Splash__inner {
  max-width: var(--global-max-width);
  margin: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 2rem;
}

#Splash__text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#Splash__text > h2 {
  width: fit-content;
  padding-left: 1.4rem;
  font-size: 2.5rem;
  font-weight: normal;
  border-left: 2px dotted rgb(var(--primary-200));
  text-transform: uppercase;
}
.fullstack-highlight {
  font-weight: bold;
}
.blinking-underscore {
  animation: blinking-underscore 1.5s linear infinite;
}
@keyframes blinking-underscore {
  0% {
    opacity: 0.3;
  }
  49% {
    opacity: 0.3;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#Splash__text > h3 {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(var(--primary-400));
}

@media (max-width: 1024px) {
  #Splash__text > h2 {
    font-size: 2.2rem;
  }

  #Splash__inner {
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 768px) {
  #Splash__inner {
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding-top: 2rem;
  }

  #Splash__text {
    align-items: center;
    gap: 2.5rem;
  }

  #Splash__text > h2 {
    font-size: 1.8rem;
  }

  #Splash__text > h3,
  #Splash__text > p {
    font-size: 0.8rem;
    text-align: center;
  }
}
