:root {
  /* header */

  --header-logo-colour: #ffffff;
  --header-logo-hover-text-colour: #000000;
  --header-nav-link-colour: #ffffff;
  --header-nav-link-hover-colour: #c0c0c0;
  --header-mobile-nav-btn-colour: invert(100%);
  --header-mobile-nav-link-colour: #ffffff;
  --header-bg-colour: #000020;

  /* home screen */

  --splash-text-colour: #000000;
  --splash-small-header-text-colour: #404050;
  --splash-inner-bg-colour: #e0e0d0;
  --splash-outer-bg-colour: #e0e0e0;
  --splash-whatsapp-btn-text-colour: #ffffff;
  --splash-whatsapp-btn-bg-colour: darkgreen;
  --splash-whatsapp-btn-hover-bg-colour: green;

  --skills-text-colour: #000000;
  --skills-tick-colour: #008000;
  --skills-bg-colour: #fafafa;
  --languages-tooltip-bg-colour: lightgoldenrodyellow;
  --languages-tooltip-border-colour: grey;

  /* portfolio list */

  --portfolio-list-bg-colour: #e0e0e0;

  --portfolio-select-background-colour: #ffffff;
  --portfolio-select-border-colour: #808080;
  --portfolio-select-hover-border-colour: #000000;

  --portfolio-card-text-colour: #000000;
  --portfolio-card-bg-colour: #ffffff;
  --portfolio-card-bar-bg-colour: #f4f4f4;
  --portfolio-card-border-colour: #a0a0a0;
  --portfolio-card-hover-border-colour: #303030;

  --portfolio-card-image-border-colour: #a0a0a0;
  --portfolio-card-btn-text-colour: #202020; /* comment, like etc */
  --portfolio-card-btn-bg-colour: #e0e0e0;
  --portfolio-card-btn-hover-bg-colour: #d0d0d0;

  /* footer */

  --footer-text-colour: #ffffff;
  --footer-link-colour: #ffffff;
  --footer-link-hover-colour: #c0c0c0;
  --footer-sm-icon-colour: invert(100%);
  --footer-sm-icon-hover-colour: invert(96%) sepia(6%) saturate(0%)
    hue-rotate(318deg) brightness(83%) contrast(84%);
  --footer-bg-colour: #000020;

  /* loading */
  --loading-wheel-colour: invert(20%);
  --loading-bg-colour: #c0c0c0f0;
}
