:root {
  /* anything outside colour scheme */

  --subtle-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

  --languages-tooltip-bg-colour: lightgoldenrodyellow;
  --skills-tick-colour: green;

  --href-colour: blue;
  --href-hover-colour: darkblue;

  --contact-form-error-colour: red;
  --contact-form-success-bg-colour: lightgreen;

  /***********/
  /* PRIMARY */
  /***********/

  --primary-r: 256;
  --primary-g: 256;
  --primary-b: 256;

  --primary-900: calc(var(--primary-r) * 1), calc(var(--primary-g) * 1),
    calc(var(--primary-b) * 1);
  --primary-850: calc(var(--primary-r) * 0.94), calc(var(--primary-g) * 0.94),
    calc(var(--primary-b) * 0.94);
  --primary-800: calc(var(--primary-r) * 0.88), calc(var(--primary-g) * 0.88),
    calc(var(--primary-b) * 0.88);
  --primary-700: calc(var(--primary-r) * 0.77), calc(var(--primary-g) * 0.77),
    calc(var(--primary-b) * 0.77);
  --primary-600: calc(var(--primary-r) * 0.66), calc(var(--primary-g) * 0.66),
    calc(var(--primary-b) * 0.66);
  --primary-500: calc(var(--primary-r) * 0.55), calc(var(--primary-g) * 0.55),
    calc(var(--primary-b) * 0.55);
  --primary-400: calc(var(--primary-r) * 0.44), calc(var(--primary-g) * 0.44),
    calc(var(--primary-b) * 0.44);
  --primary-300: calc(var(--primary-r) * 0.33), calc(var(--primary-g) * 0.33),
    calc(var(--primary-b) * 0.33);
  --primary-200: calc(var(--primary-r) * 0.22), calc(var(--primary-g) * 0.22),
    calc(var(--primary-b) * 0.22);
  --primary-100: calc(var(--primary-r) * 0.11), calc(var(--primary-g) * 0.11),
    calc(var(--primary-b) * 0.11);
  --primary-50: calc(var(--primary-r) * 0), calc(var(--primary-g) * 0),
    calc(var(--primary-b) * 0);

  /* filters for img/icons */
  --black-to-primary-900: invert(100%);
  --black-to-primary-700: invert(96%) sepia(6%) saturate(0%) hue-rotate(318deg)
    brightness(83%) contrast(84%);
  --black-to-primary-300: invert(20%);

  /*************/
  /* SECONDARY */
  /*************/

  --secondary-r: 64;
  --secondary-g: 128;
  --secondary-b: 256;

  --secondary-850: calc(var(--secondary-r) * 0.94),
    calc(var(--secondary-g) * 0.94), calc(var(--secondary-b) * 0.94);
  --secondary-600: calc(var(--secondary-r) * 0.66),
    calc(var(--secondary-g) * 0.66), calc(var(--secondary-b) * 0.66);
  --secondary-150: calc(var(--secondary-r) * 0.16),
    calc(var(--secondary-g) * 0.16), calc(var(--secondary-b) * 0.16);
  --secondary-100: calc(var(--secondary-r) * 0.11),
    calc(var(--secondary-g) * 0.11), calc(var(--secondary-b) * 0.11);

  /***********/
  /* BUTTONS */
  /***********/

  --cta-r: 0;
  --cta-g: 256;
  --cta-b: 0;

  --cta-900: calc(var(--cta-r) * 0.94), calc(var(--cta-g) * 0.94),
    calc(var(--cta-b) * 0.94);
  --cta-400: calc(var(--cta-r) * 0.55), calc(var(--cta-g) * 0.55),
    calc(var(--cta-b) * 0.55);
  --cta-300: calc(var(--cta-r) * 0.44), calc(var(--cta-g) * 0.44),
    calc(var(--cta-b) * 0.44);
}
