/* any dimensions that are required by more than one css rule */

:root {
  --global-max-width: 1300px;

  --splash-image-width: 500px;
  --splash-image-height: calc(
    var(--splash-image-width) * 0.72
  ); /* Image size is 1000px x 720px */

  --splash-image-smaller-width: 350px;
  --splash-image-smaller-height: calc(var(--splash-image-smaller-width) * 0.72);

  --project-article-max-width: 800px;
  --project-sidebar-width: 250px;
  --project-sidebar-gutter: 1rem;
}
