/* any dimensions that are required by more than one css rule */

:root {
  --global-max-width: 1300px;

  --section-v-padding: 6rem;
  --section-h-padding: 3rem;

  --splash-image-aspect-ratio: calc(1000 / 720);
  /* Image size is 1000px x 720px */
  /* make a bit smaller because bottom of image is empty */

  --splash-image-width: 500px;
  --splash-image-height: calc(
    var(--splash-image-width) / var(--splash-image-aspect-ratio)
  );

  --splash-image-smaller-width: 350px;
  --splash-image-smaller-height: calc(
    var(--splash-image-smaller-width) / var(--splash-image-aspect-ratio)
  );

  --splash-image-smallest-width: 280px;
  --splash-image-smallest-height: calc(
    var(--splash-image-smallest-width) / var(--splash-image-aspect-ratio)
  );

  --prj-article-media-max-width: 1330px;

  --prj-article-sidebar-gap: 1rem;
  --prj-sidebar-width: 250px;
  --prj-sidebar-padding: 1rem;
}
