#ContactForm {
  width: 100%;
  max-width: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 0.3rem;

  background-color: rgb(var(--primary-900));
  box-shadow: var(--subtle-box-shadow);
}

#ContactForm > h3 {
  width: fit-content;
  margin: auto;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

#ContactForm > label {
  color: rgb(var(--primary-200));
  font-size: 0.8rem;
}
#ContactForm > label:not(:first-of-type) {
  margin-top: 0.5rem;
}

.ContactForm__input {
  padding: 0.4rem;
  font-family: inherit;
  font-size: 1.3rem;
  background-color: rgb(var(--primary-850));
  border: none;
  border-bottom: 2px solid rgb(var(--primary-500));
}
#ContactForm > textarea {
  height: 12rem;
}
.ContactForm__input--error {
  border-color: var(--contact-form-error-colour);
}

#ContactForm > button {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0.7rem 1rem;

  font-size: 1.1rem;
  color: rgb(var(--primary-900));
  background-color: rgb(var(--cta-300));
  border: none;
  text-transform: uppercase;
  box-shadow: var(--subtle-box-shadow);
  cursor: pointer;
}
#ContactForm > button:enabled:hover {
  background-color: rgb(var(--cta-400));
}

.ContactForm__input:disabled,
#ContactForm > button:disabled {
  opacity: 0.3;
}

.ContactForm__error-msg {
  width: fit-content;
  margin-left: auto;
  padding: 0.1rem;
  font-size: 0.9rem;
  color: var(--contact-form-error-colour);
}

#ContactForm__success-overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  background-color: var(--contact-form-success-bg-colour);
}
#ContactForm__success-overlay > h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
#ContactForm__success-overlay > p {
  font-size: 1rem;
}
