#Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(rgb(var(--primary-800)), rgb(var(--primary-900)));
}

#Contact__inner {
  max-width: var(--global-max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
  padding: 5rem 3rem;
}

#Contact__title {
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: var(--heading-shadow);
  text-transform: uppercase;
}

/********************/
/* Contact__methods */
/********************/

#Contact__methods {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  gap: 2.5rem;
}

.Contact__method {
  flex: 1 1 0px;

  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  padding: 2rem;
  background-color: rgb(var(--primary-900));
  box-shadow: var(--subtle-box-shadow);
}

.Contact__method > img {
  width: 5.5rem;
  aspect-ratio: 1;
}

.Contact__method > h3 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.Contact__method > p {
  font-size: 0.9rem;
  line-height: 1.3rem;
  text-align: center;
}

.Contact__method > a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1rem;

  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(var(--primary-900));
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: rgb(var(--secondary-600));
  box-shadow: var(--subtle-box-shadow);
}
.Contact__method > a:hover {
  background-color: rgb(var(--secondary-850));
}

@media (max-width: 768px) {
  #Contact__methods {
    flex-direction: column;
  }

  .Contact__method {
    max-width: 400px;
  }
}
