#ElevatedButton {
  position: relative;
  height: 2.5rem;
  display: flex;
  justify-content: center;
}

#ElevatedButton__link {
  position: absolute;
  top: 0;
  padding: 0.7rem;
  color: rgb(var(--primary-900));
  background-color: var(--cta-bg-colour);
  white-space: nowrap;
  text-decoration: none;

  border-bottom: solid black;
  border-width: 5px;
  border-radius: 1rem;
  box-shadow: var(--subtle-box-shadow);
  transition: top 0.1s, border-width 0.1s, background-color 0.1s;
}
#ElevatedButton__link:hover {
  top: 5px;
  border-width: 0;
  background-color: var(--cta-hover-bg-colour);
}
