#Footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 3.5rem 0;
  background-color: rgb(var(--secondary-150));
}

#Footer__email > a {
  color: rgb(var(--primary-900));
  text-decoration: none;
}
#Footer__email > a:hover {
  color: rgb(var(--primary-700));
  text-decoration: underline;
}

#Footer__sm-icons {
  display: flex;
  gap: 2rem;
}

.sm-icon {
  width: 1.8rem;
  aspect-ratio: 1;
  filter: var(--black-to-primary-900);
}
.sm-icon:hover {
  filter: var(--black-to-primary-700);
}

@media (max-width: 768px) {
  #Footer {
    flex-direction: column-reverse;
    gap: 3rem;
  }

  #Footer__email > a {
    font-size: 0.9rem;
  }
}
