footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3.5rem 0;
  color: var(--footer-text-colour);
  background-color: var(--footer-bg-colour);
}

.footer__email > a {
  color: var(--footer-link-colour);
  text-decoration: none;
}
.footer__email > a:hover {
  color: var(--footer-link-hover-colour);
  text-decoration: underline;
}

.footer__sm-icons {
  display: flex;
  gap: 2rem;
}

.sm-icon {
  width: 1.8rem;
  aspect-ratio: 1;
  filter: var(--footer-sm-icon-colour);
}
.sm-icon:hover {
  filter: var(--footer-sm-icon-hover-colour);
}
