@import url('./_dimens.css');

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3.5em 0;
  color: white;
  background-color: #000020;
}

.footer__email > a {
  color: white;
  text-decoration: none;
}
.footer__email > a:hover {
  color: #c0c0c0;
  text-decoration: underline;
}

.footer__sm-icons {
  display: flex;
  gap: 2em;
}

.sm-icon {
  width: 1.8em;
  aspect-ratio: 1;
  filter: invert(100%);
}
.sm-icon:hover {
  filter: invert(96%) sepia(6%) saturate(0%) hue-rotate(318deg) brightness(83%)
    contrast(84%);
}
