header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding-right: 0.7rem;
  padding-left: 1em;
  background-color: var(--header-bg-colour);
}

.desktop-nav {
  display: flex;
  margin-right: 2%;
  font-size: 1.1rem;
  font-weight: bold;
}

.desktop-nav > a {
  height: 100%;
  display: block;
  color: var(--header-link-colour);
  padding: 1em;
  text-decoration: none;
}
.desktop-nav > a:hover {
  color: var(--header-link-hover-colour);
}
