@import url('./_dimens.css');

:root {
  --colour: invert(40%) sepia(91%) saturate(774%) hue-rotate(157deg)
    brightness(101%) contrast(101%);
}

header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding-right: 0.7rem;
  padding-left: 1em;
  background-color: #000020;
}

.desktop-nav {
  display: flex;
  margin-right: 2%;
  font-size: 1.1rem;
  font-weight: bold;
}

.desktop-nav > a {
  height: 100%;
  display: block;
  color: white;
  padding: 1em;
  text-decoration: none;
}
.desktop-nav > a:hover {
  color: #c0c0c0;
}
