.LanguageIcon__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  background-color: transparent;
}
.LanguageIcon__link:hover {
  background-color: rgba(var(--primary-700));
}
