.Loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 97;
  width: 100%;
  height: 100%;

  grid-column: 1 / span 3;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(var(--primary-900), 0.95);
}

.Loading > img {
  display: inline-block;
  height: 5em;
  aspect-ratio: 1;
  filter: var(--black-to-primary-300);
  animation: spin 5s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
