@import url('./_colours.css');
@import url('./_dimens.css');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  overflow-x: hidden;

  color: rgb(var(--primary-50));
  font-family: Verdana, sans-serif;
}

.subtle-box-shadow {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
