#PortfolioSortOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
#PortfolioSortOptions > select {
  width: 15rem;
  margin: 0 0.5rem;
  padding: 0.7rem;
  background-color: var(--portfolio-select-background-colour);
  border: 1px solid var(--portfolio-select-border-colour);
  border-radius: 5px;
  cursor: pointer;
}
#PortfolioSortOptions > select:hover {
  border-color: var(--portfolio-select-hover-border-colour);
}
