.PortfolioCard {
  overflow: hidden;
  border: 1px solid var(--portfolio-card-border-colour);
  border-radius: 0.3rem;

  background-color: var(--portfolio-card-bg-colour);
}
.PortfolioCard:hover {
  border-color: var(--portfolio-card-hover-border-colour);
}

.PortfolioCard > a {
  text-decoration: none;
}

.PortfolioCard__title {
  height: 2.5rem;
  display: flex;
  align-items: center;
  margin: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--portfolio-card-text-colour);
}

.PortfolioCard__image {
  display: block;
  width: calc(100% - 1em);
  aspect-ratio: 1.7;
  object-fit: cover;
  margin: 0.5em;
  border: 1px solid var(--portfolio-card-image-border-colour);
}

.PortfolioCard__bottom-bar {
  display: flex;
  gap: 1rem;
  padding: 0.7rem;
  background-color: var(--portfolio-card-bar-bg-colour);
}

.PortfolioCard__bottom-bar > a {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.7rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--portfolio-card-btn-text-colour);
  text-decoration: none;
  border-radius: 1rem;
  background-color: var(--portfolio-card-btn-bg-colour);
}
.PortfolioCard__bottom-bar > a:hover {
  background-color: var(--portfolio-card-btn-hover-bg-colour);
}
.PortfolioCard__bottom-bar > a > img {
  height: 1.2rem;
  aspect-ratio: 1;
  margin-right: 0.5rem;
}

.PortfolioCard__bottom-bar__language-icons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-left: auto;
}

.PortfolioCard__bottom-bar__language-icons > a > img {
  height: 2rem;
  aspect-ratio: 1;
}
