.Portfolio {
  background-color: var(--portfolio-list-bg-colour);
}

.Portfolio__inner {
  max-width: var(--global-max-width);
  display: flex;
  margin: auto;
}

.PortfolioList__title {
  text-align: center;
}

.project-sort-options {
  text-align: center;
}

.project-sort-options > button > img {
  width: 1.8rem;
  aspect-ratio: 1;
}

.PortfolioList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  padding: 1em;
}

.side-nav {
  min-height: 100%;
  border-right: 1px solid #a0a0a0;
}
