#PortfolioSortOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
#PortfolioSortOptions > select {
  width: 15rem;
  margin: 0 0.5rem;
  padding: 0.7rem;
  color: rgb(var(--primary-50));
  background-color: rgb(var(--primary-900));
  border: 1px solid rgb(var(--primary-500));
  border-radius: 5px;
  cursor: pointer;
}
#PortfolioSortOptions > select:hover {
  border-color: rgb(var(--primary-100));
}
