#Portfolio {
  background-color: var(--portfolio-list-bg-colour);
}

#Portfolio__inner {
  max-width: var(--global-max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  margin: auto;
  padding: 3rem 1rem;
}

#Portfolio__title {
  text-align: center;
  font-size: 1.7rem;
}

#Portfolio__sort-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
#Portfolio__sort-options > select {
  width: 15rem;
  margin: 0 0.5rem;
  padding: 0.7rem;
  background-color: var(--portfolio-select-background-colour);
  border: 1px solid var(--portfolio-select-border-colour);
  border-radius: 5px;
  cursor: pointer;
}
#Portfolio__sort-options > select:hover {
  border-color: var(--portfolio-select-hover-border-colour);
}

#Portfolio__project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 1.5rem;
}
#Portfolio__project-grid > div {
  max-width: 400px;
}

@media (max-width: 990px) {
  #Portfolio__project-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  #Portfolio__project-grid {
    grid-template-columns: 1fr;
  }
}
