#Project {
  position: relative;
  min-height: calc(100vh - 5em);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(var(--primary-800));
}

#Project__inner {
  max-width: var(--global-max-width);
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: var(--project-article-sidebar-gap);
  margin: 2rem 1rem;
}

#Project__inner > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 3rem;
  background-color: rgb(var(--primary-900));
  border: 1px solid rgb(var(--primary-500));
  border-radius: 0.5rem;
  box-shadow: var(--subtle-box-shadow);
}

#Project__title {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
}

/* Details bar - date, languages, links */

#Project__details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#Project__details__date {
  font-size: 0.8rem;
  text-align: center;
}

#Project__details__languages {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}
#Project__details__languages img {
  width: 1.5rem;
  aspect-ratio: 1;
}

#Project__details__links__wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.Project__details__link {
  padding: 0.5rem 1rem;
  text-align: center;
  white-space: nowrap;
  font-size: 0.9rem;
  color: rgb(var(--primary-900));
  text-decoration: none;
  background-color: rgb(var(--cta-300));
  border-radius: 0.5rem;
  box-shadow: var(--subtle-box-shadow);
}
.Project__details__link > img {
  height: 1em;
  aspect-ratio: 1;
  filter: var(--black-to-primary-900);
}
.Project__details__link:hover {
  background-color: rgb(var(--cta-400));
}

/* End details bar */

#Project__media {
  width: 80%;
  max-width: var(--project-article-media-max-width);
  height: fit-content;
}
#Project__media > * {
  /* yt video or image */
  width: 100%;
  border: none;
  box-shadow: var(--subtle-box-shadow);
}
#Project__media > iframe {
  aspect-ratio: 16/9;
}

/***************************/
/* Project body formatting */
/***************************/

#Project__body {
  margin: 1rem 0.5rem;
  font-family: Arial;
}
#Project__body > *:first-child {
  margin-top: 0 !important;
}

/* Subtitle */
#Project__body > h3 {
  font-size: 1.5rem;
  font-weight: bold;

  margin-top: 4rem;
}
#Project__body > h3::before {
  content: '// ';
}

/* Main text */
#Project__body > p {
  font-size: 1rem;
  line-height: 1.8rem;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Links */

#Project__body > p > a {
  color: var(--href-colour);
  text-decoration: none;
}
#Project__body > p > a:hover {
  text-decoration: underline;
}

/* Quote */
#Project__body > p.quote {
  padding: 0.5rem;
  font-style: italic;
  background: rgb(var(--primary-850));
  border-left: 10px solid rgb(var(--primary-700));
}
#Project__body > p.quote::before {
  content: open-quote;
  color: rgb(var(--primary-700));
  font-size: 4rem;
  line-height: 0.1rem;
  vertical-align: -0.4em;
  margin-right: 1rem;
}
#Project__body > p > .language {
  padding: 0.2rem 0.3rem;
  border-radius: 0.5rem;
  background-color: lightblue;
}
#Project__body > p > .yellow {
  padding: 0.2rem 0.3rem;
  border-radius: 0.5rem;
  background-color: lightgoldenrodyellow;
}

/**************************/
/* End article formatting */
/**************************/

@media (max-width: 1440px) {
  #Project__inner > article {
    max-width: 850px;
  }
}

@media (max-width: 992px) {
  #Project__inner {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

@media (max-width: 768px) {
  #Project__media {
    width: 100%;
  }
}

@media (max-width: 576px) {
  #Project__inner {
    margin: 0;
  }
  #Project__inner > article {
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    border-radius: 0;
  }

  #Project__details__date {
    display: none;
  }
  #Project__details__languages {
    display: none;
  }
}

@media (max-width: 425px) {
  #Project__body > p {
    font-size: 0.9rem;
  }
}
