#ProjectSidebar {
  width: var(--project-sidebar-width);
  height: 0;
  min-height: 100%;
  overflow: hidden;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  align-items: center;
  gap: 1.5rem;
  padding: var(--project-sidebar-gutter);
}
#ProjectSidebar > a {
  text-decoration: none;
}
#ProjectSidebar > h2 {
  color: rgb(var(--primary-400));
  font-size: 0.9rem;
  font-weight: normal;
  font-style: italic;
}

.ProjectSidebar__card {
  width: calc(var(--project-sidebar-width) - 2 * var(--project-sidebar-gutter));
  aspect-ratio: 1.5;
  background-size: cover;
  border: 1px solid rgba(var(--primary-500));
}
.ProjectSidebar__card:hover {
  border-color: rgba(var(--primary-100));
}

.ProjectSidebar__card__title {
  padding: 0.3rem;
  background-color: rgba(var(--primary-50), 0.8);
}
.ProjectSidebar__card__title > h3 {
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(var(--primary-900));
}

.ProjectSidebar__card > img {
  width: 100%;
}

@media (max-width: 992px) {
  #ProjectSidebar {
    display: none;
  }
}
