#Project {
  position: relative;
  min-height: calc(100vh - 5em);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(var(--primary-800));
}

#Project__inner {
  max-width: var(--global-max-width);
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 1rem;
  margin: 2rem 1rem;
}

#Project__inner > article {
  max-width: var(--project-article-max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 3rem;
  background-color: rgb(var(--primary-900));
  border: 1px solid rgb(var(--primary-500));
  border-radius: 0.5rem;
}
#Project__inner > article p {
  line-height: 2rem;
}
#Project__inner > article p > a {
  color: var(--href-colour);
  text-decoration: none;
}
#Project__inner > article p > a:hover {
  color: var(--href-hover-colour);
  text-decoration: underline;
}

#Project__title {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
}

#Project__details {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#Project__details__date {
  font-size: 0.8rem;
}

#Project__details__languages {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
#Project__details__languages img {
  width: 1.5rem;
  aspect-ratio: 1;
}

#Project__media {
  width: 80%;
  height: fit-content;
}
#Project__media > * {
  /* yt video or image */
  width: 100%;
  border: none;
}
#Project__media > iframe {
  aspect-ratio: 16/9;
}

#Project__body {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 1rem 0;
}

@media (max-width: 992px) {
  #Project__inner {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

@media (max-width: 768px) {
  #Project__media {
    width: 100%;
  }
}

@media (max-width: 576px) {
  #Project__inner {
    margin: 0;
  }
  #Project__inner > article {
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    border-radius: 0;
  }

  #Project__details__date {
    display: none;
  }
  #Project__details__languages {
    display: none;
  }
}
