.Splash {
  background: radial-gradient(
    var(--splash-inner-bg-colour),
    var(--splash-outer-bg-colour)
  );
}

.Splash__inner {
  max-width: var(--global-max-width);
  margin: auto;

  min-height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
  padding: 3rem;
}

.Splash__text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--splash-text-colour);
}

.Splash__text > h2 {
  width: fit-content;
  padding-left: 1.4rem;
  font-size: 2.5rem;
  font-weight: normal;
  border-left: 2px dotted var(--splash-text-colour);
  text-transform: uppercase;
}
.fullstack-highlight {
  font-weight: bold;
}

.Splash__text > h3 {
  font-weight: bold;
  color: var(--splash-small-header-text-colour);
}

.contact-links {
  position: relative;
  height: 2.5rem;
  display: flex;
  justify-content: center;
}

.contact-links__whatsapp {
  position: absolute;
  top: 0;
  padding: 0.7rem;
  color: var(--splash-whatsapp-btn-text-colour);
  background-color: var(--splash-whatsapp-btn-bg-colour);
  text-decoration: none;

  border-bottom: solid black;
  border-width: 5px;
  border-radius: 1rem;
  transition: all 0.1s linear;
}
.contact-links__whatsapp:hover {
  top: 5px;
  border-width: 0;
  background-color: var(--splash-whatsapp-btn-hover-bg-colour);
}
