#Splash {
  background: radial-gradient(
    var(--splash-inner-bg-colour),
    var(--splash-outer-bg-colour)
  );
}

#Splash__inner {
  max-width: var(--global-max-width);
  margin: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 2rem;
}

#Splash__text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--splash-text-colour);
}

#Splash__text > h2 {
  width: fit-content;
  padding-left: 1.4rem;
  font-size: 2.5rem;
  font-weight: normal;
  border-left: 2px dotted var(--splash-text-colour);
  text-transform: uppercase;
}
.fullstack-highlight {
  font-weight: bold;
}

#Splash__text > h3 {
  font-size: 1rem;
  font-weight: bold;
  color: var(--splash-small-header-text-colour);
}

#whatsapp-btn__wrapper {
  position: relative;
  height: 2.5rem;
  display: flex;
  justify-content: center;
}

#whatsapp-btn {
  position: absolute;
  top: 0;
  padding: 0.7rem;
  color: var(--splash-whatsapp-btn-text-colour);
  background-color: var(--splash-whatsapp-btn-bg-colour);
  text-decoration: none;

  border-bottom: solid black;
  border-width: 5px;
  border-radius: 1rem;
  transition: all 0.1s linear;
}
#whatsapp-btn:hover {
  top: 5px;
  border-width: 0;
  background-color: var(--splash-whatsapp-btn-hover-bg-colour);
}

@media (max-width: 1024px) {
  #Splash__text > h2 {
    font-size: 2.2rem;
  }

  #Splash__inner {
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
