:root {
  --shadow-scale: 0.96;
  --shadow-opacity: 0.85;
}

#splash-image__outer {
  display: flex;
  justify-content: flex-end;
}

#splash-image__inner {
  position: relative;
  width: var(--splash-image-width);
  height: var(--splash-image-height);
}

#splash-image__inner > img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

#splash-image__shadows {
  animation: flicker-shadows 3s infinite;
}
@keyframes flicker-shadows {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }
  10% {
    transform: scaleY(var(--shadow-scale));
    opacity: var(--shadow-opacity);
  }
  12% {
    transform: scaleY(1);
    opacity: 1;
  }
  25% {
    transform: scaleY(var(--shadow-scale));
    opacity: var(--shadow-opacity);
  }
  30% {
    transform: scaleY(1);
    opacity: 1;
  }
  50% {
    transform: scaleY(var(--shadow-scale));
    opacity: var(--shadow-opacity);
  }
  70% {
    transform: scaleY(1);
    opacity: 1;
  }
  75% {
    transform: scaleY(var(--shadow-scale));
    opacity: var(--shadow-opacity);
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

#splash-image__wisp {
  animation: flicker-wisp 6s infinite;
}
@keyframes flicker-wisp {
  0% {
    transform: scaleY(0.8);
    opacity: 0.2;
  }
  30% {
    transform: scaleY(1);
    opacity: 0.8;
  }
  100% {
    transform: scaleY(0.8);
    opacity: 0.2;
  }
}

#splash-image__lights {
  animation: flicker-lights 7s infinite;
}
@keyframes flicker-lights {
  0% {
    opacity: 0;
  }
  94% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#splash-image__monitor-code {
  position: absolute;
  width: calc(var(--splash-image-width) / 3.5);
  top: calc(var(--splash-image-height) / 13);
  left: calc(var(--splash-image-width) / 2.4);
  font-size: calc(var(--splash-image-height) / 65);
  transform: rotate(-1deg);
}

@media (max-width: 990px) {
  #splash-image__inner {
    width: var(--splash-image-smaller-width);
    height: var(--splash-image-smaller-height);
  }

  #splash-image__monitor-code {
    width: calc(var(--splash-image-smaller-width) / 3.5);
    top: calc(var(--splash-image-smaller-height) / 13);
    left: calc(var(--splash-image-smaller-width) / 2.4);
    font-size: calc(var(--splash-image-smaller-height) / 65);
  }
}

@media (max-width: 425px) {
  #splash-image__inner {
    width: var(--splash-image-smallest-width);
    height: var(--splash-image-smallest-height);
  }

  #splash-image__monitor-code {
    width: calc(var(--splash-image-smallest-width) / 3.5);
    top: calc(var(--splash-image-smallest-height) / 13);
    left: calc(var(--splash-image-smallest-width) / 2.4);
    font-size: calc(var(--splash-image-smallest-height) / 65);
  }
}
