#Splash {
  background: radial-gradient(rgb(var(--primary-900)), rgb(var(--primary-800)));
}

#Splash__inner {
  max-width: var(--global-max-width);
  margin: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 2rem;
}

#Splash__text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#Splash__text > h2 {
  width: fit-content;
  padding-left: 1.4rem;
  font-size: 2.5rem;
  font-weight: normal;
  border-left: 2px dotted rgb(var(--primary-200));
  text-transform: uppercase;
}
.fullstack-highlight {
  font-weight: bold;
}

#Splash__text > h3 {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(var(--primary-400));
}

#whatsapp-btn__wrapper {
  position: relative;
  height: 2.5rem;
  display: flex;
  justify-content: center;
}

#whatsapp-btn {
  position: absolute;
  top: 0;
  padding: 0.7rem;
  color: rgb(var(--primary-900));
  background-color: rgb(var(--cta-300));
  text-decoration: none;

  border-bottom: solid black;
  border-width: 5px;
  border-radius: 1rem;
  transition: top 0.1s, border-width 0.1s, background-color 0.1s;
}
#whatsapp-btn:hover {
  top: 5px;
  border-width: 0;
  background-color: rgb(var(--cta-400));
}

@media (max-width: 1024px) {
  #Splash__text > h2 {
    font-size: 2.2rem;
  }

  #Splash__inner {
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
